<div class="footer-container">
    <p class="footer-item" (click)="hwsFooterAction('Terms & Conditions')">Terms & Conditions</p>
    <p class="footer-item" (click)="hwsFooterAction('Privacy policy')">Privacy policy</p>
    <p class="footer-item" (click)="hwsFooterAction('Copyright policy')">Copyright policy</p>
    <p class="footer-item" (click)="hwsFooterAction('Supported Browsers')">Supported Browsers</p>
    <p class="footer-item" (click)="hwsFooterAction('User Manual')">User Manual</p>
  </div>