.login-logo {
  // height: var(--ds-login-logo-height);
  // width: var(--ds-login-logo-width);
  margin: 2rem;
  width: -webkit-fill-available;
  margin-top:5px;
}

.login-div {
  background-color: white;
    margin-left: 3rem;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 19%) 0px 5px 15px;
    z-index: 1 !important;
    position: inherit;
    height: calc(100vh - 114px) !important;
    border-radius: 10px;
    color: black;
    margin-top: 0.5rem;
}

.headers {
  text-align: left;
    margin-top: calc(100% - 320px);
    font-size: 42px;
    font-weight: 700;
}


.loginTitle {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-left: 26px;
  margin-top: 12px;
  margin-bottom: 14px;
}

.hwsHeader {
  z-index: 0;
}