<!-- style="margin-top: 3rem;height: calc(100vh - 53px) !important;" -->
<div class="w-100 rectangle1" style="justify-content: flex-start !important;">
  <!-- <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-9">

    </div>
  </div> -->
 <!-- <div style="background-color: white;color: 200px; border-radius: 20px;">
  hello
 </div> -->
  <div class="text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="login-div ">
          <img class="mb-4 login-logo" src="../../assets/resources/app-logo.PNG" [alt]="'repository.image.logo' | translate">
          <h4 class="loginTitle">Log in</h4>
          <!-- <h1 class="h3 mb-0 font-weight-normal">{{"login.form.header" | translate}}</h1> -->
          <ds-themed-log-in
          [isStandalonePage]="true"></ds-themed-log-in>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="headers">
          <p>Create</p>
          <p>Collaborate</p>
          <p>Inspire</p>
        </div>
        
      </div>
      <div class="col-md-4"></div>
    </div>
    
  </div>
</div>
<ds-hws-footer></ds-hws-footer>
