
<main class="container-fluid my-briefcase">
    <section class="row briefcase-section">
        <!-- Sidebar Section -->
        <aside class="col-md-2 nav-section">
            <nav aria-label="Sidebar navigation">
                <h2 class="section-nav" *ngIf="configuration == 'workspace' || configuration == 'favourites'
                || configuration == 'recents'
                || configuration == 'rejected'
                || configuration == 'pending'">My Briefcase</h2>
                <h2 class="section-nav" *ngIf="configuration == 'workflow' || configuration == 'history'">To-Do List</h2>
                <ul class="list-unstyled items">
                    <li *ngFor="let item of sidebarItems" class="item" [class.active]="currentContent === item.key"
                        (click)="changeContent(item.key, item.value)">
                        {{ item.key }}
                    </li>
                </ul>
            </nav>
        </aside>
        <section class="col-md-10">
            <ds-themed-search *ngIf="configuration" [configuration]="configuration"
                [configurationList]="(configurationList$ | async)" [context]="context" [viewModeList]="viewModeList"
                [showSidebar]="false" [searchEnabled]="false"></ds-themed-search>
        </section>
    </section>
</main>
