<ds-themed-loading *ngIf="(loading | async) || (isAuthenticated | async)" class="m-5"></ds-themed-loading>
<div *ngIf="!(loading | async) && !(isAuthenticated | async)" class="px-4 mx-auto login-container">
  <ng-container *ngFor="let authMethod of (authMethods | async); let last = last">
    <ds-log-in-container [authMethod]="authMethod" [isStandalonePage]="isStandalonePage"></ds-log-in-container>
    <div *ngIf="!last">
       <h4 class="mtop" id='mtop' >OR</h4>
       <!-- <h4 *ngIf="hasError">OR</h4> -->
      </div>
    <!-- dropdown-divider -->
  </ng-container>
</div>
