.card-container {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 30px;
    width: fit-content;
}

.color-red {
    background: red;
    border: none;
    font-size: 15px;
}

.ft-22 {
    font-size: 22px;
}

.ft-14 {
    font-size: 14px;
}

.ft-12 {
    font-size: 12px;
}