.knowledge{
    color: white;
    // margin-left: 10rem;
    text-align: left;
}

.items {
    background-color: white;
    text-align: left;
    margin: 2rem;
    height: 200px;
    padding: 1rem 2rem;
    border-radius: 10px;
}