.reject-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.item-col {
    font-size: 12px;
}

.edit-btn {
    background: red;
    border: none;
    font-size: 12px;
    height: 27px;
}