<form class="form-login" style="padding: 5px !important;"
      (ngSubmit)="submit()"
      [formGroup]="form" novalidate >
  <input [attr.aria-label]="'login.form.email' |translate"
         autocomplete="username"
         autofocus
         class="form-control form-control-lg position-relative"
         formControlName="email"
         placeholder="{{'login.form.email' | translate}}"
         required
         type="email"
         [attr.data-test]="'email' | dsBrowserOnly">
  <input [attr.aria-label]="'login.form.password' |translate"
         autocomplete="current-password"
         class="form-control form-control-lg position-relative mb-3"
         placeholder="{{'login.form.password' | translate}}"
         formControlName="password"
         required
         type="password"
         [attr.data-test]="'password' | dsBrowserOnly">

         
  <input [attr.aria-label]="'login.form.captcha' |translate" style="display: none;"
        
         class="form-control form-control-lg position-relative mb-3"
         placeholder="Enter Captcha (Upper Case Only)"
         formControlName="password"
         required
         type="text"
         [attr.data-test]="'captcha' | dsBrowserOnly">
        <div class="check">
          <input type="checkbox" [checked]="isChecked" (change)="rememberMe($event)"> Remember Me
        </div>


  <div *ngIf="(error | async) && hasError" class="alert alert-danger " role="alert"
       @fadeOut>{{ (error | async) | translate }}</div>
  <div *ngIf="(message | async) && hasMessage" class="alert alert-info" role="alert"
       @fadeOut>{{ (message | async) | translate }}</div>

  <button class="btn btn-lg btn-primary btn-block  loginBtn"
  [ngClass]="{'loginTop' : (error | async) && hasError }"
  type="submit" [attr.data-test]="'login-button' | dsBrowserOnly"
          [disabled]="!form.valid">
          <!-- <i class="fas fa-sign-in-alt"></i>  -->
          {{"login.form.submit" | translate}}</button>
</form>


<!-- <div style="margin-top: 5rem;">
  <a (click)="navigateToGoogleLogin()">Click Here For Google Login</a> -->
  <!-- <a class="dropdown-item" *ngIf="canRegister$ | async" [routerLink]="[getRegisterRoute()]" [attr.data-test]="'register' | dsBrowserOnly" role="menuitem">
    {{ 'login.form.new-user' | translate }}
  </a>
  <a class="dropdown-item" [routerLink]="[getForgotRoute()]" [attr.data-test]="'forgot' | dsBrowserOnly" role="menuitem">
    {{ 'login.form.forgot-password' | translate }}
  </a> -->
<!-- </div> -->
