.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  border-radius: 10px;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 13px;
  background-color: #b4caed87;
  color: black;
  border-color: #b4caed87;
}
.form-login input[type="password"] {
  border-radius: 10px;
  margin: 0rem !important;
  font-size: 13px;
  background-color: #b4caed87;
  color: black;
  border-color: #b4caed87;
}

.form-login input[type="text"] {
  border-radius: 10px;
  // margin: 0rem 0rem 1rem 0rem;
  font-size: 13px;
  background-color: #b4caed87;
  color: black;
  border-color: #b4caed87;
}

.form-login input[type="checkbox"] {
  border-radius: 10px;
  // margin: 0rem 0rem 1rem 0rem;
  font-size: 13px;
  background-color: #b4caed87;
  color: black;
  border-color: #b4caed87;
}


.dropdown-item {
  white-space: normal;
  padding: .25rem .75rem;
}

.loginBtn{
  display: inline;
  background-color: red;
  border-color: red;
  font-size: 15px;
  opacity: 1;
  width: 100px;
  position: relative;
  top: 2rem;
}

.loginTop{  
  top: 0rem !important;
}

.check{
  text-align: left;
  margin-left: 0.3rem;
  margin-top: 0.5rem;
}