.header-label {
    font-size: 22px;
    margin-bottom: 10px;
}

.user-detail {
    padding: 0;
    margin-bottom: 12px;
}

.label-pad {
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
}

.submit-btn {
    background: red;
    border: none;
    font-size: 15px;
}

.pdb-5 {
    padding-bottom: 5px;
}