<div class="container" *ngIf="(registration$ |async)">
    <h1 class="header-label">{{'forgot-password.form.head' | translate}}</h1>
    <div class="card user-detail">
        <div class="card-header label-pad">{{'forgot-password.form.identification.header' | translate}}</div>
        <div class="card-body label-pad">
            <div class="row">
                <div class="col-12">
                    <span class="font-weight-bold">{{'forgot-password.form.identification.email' | translate}} </span>
                    <span [attr.data-test]="'email' | dsBrowserOnly">{{(registration$ |async).email}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card user-detail">
        <div class="card-header label-pad">{{'forgot-password.form.card.security' | translate}}</div>
        <div class="card-body pdb-5">

            <ds-profile-page-security-form
                    [passwordCanBeEmpty]="false"
                    [FORM_PREFIX]="'forgot-password.form.'"
                    (isInvalid)="setInValid($event)"
                    (passwordValue)="setPasswordValue($event)"
            ></ds-profile-page-security-form>
        </div>
    </div>

<div class="row">
        <div class="col-12">
            <button
                    [disabled]="isInValid"
                    class="btn btn-default btn-primary submit-btn"
                    (click)="submit()">{{'forgot-password.form.submit' | translate}}</button>
        </div>
    </div>
</div>
