::ng-deep .mat-step-header .mat-step-icon-state-done {
	background-color: red;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
	background-color: red;
}

::ng-deep .modal-mysize .modal-dialog {
	max-width: 1000px;
	border-radius: 10px;
}

::ng-deep .modal-mysize .modal-header {
	border-bottom: none !important;
}

::ng-deep .modal-mysize .modal-footer {
	border-top: none !important;
}

::ng-deep .modal-mysize .modal-content {
	border-radius: 10px;
	padding: 2rem;
	max-height: calc(100vh - 60px) !important;
	min-height: calc(100vh - 60px) !important;
}

::ng-deep .modal-mysize .modal-header {
	color: #5b5b5b;
	font-size: 20px;
	padding: 0rem 1rem;
	font-weight: 500;
}

.next {
	background-color: red;
	color: white;
	border-radius: 10px;
	border-color: #da1010;
	width: 136px;
	height: 41px;
	font-weight: 500;
}
.cancelbtn {
	background-color: white;
	color: #5b5b5b;
	border-color: #5b5b5b;
}

.mtopka{
	margin-top: 1rem;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	overflow: auto;
	max-height: calc(-326px + 100vh) !important;
	height: calc(-326px + 100vh) !important;
}


.desClass{
	border-radius: 30px;
	width: 450px;
}

.form-control:focus {
	outline: none !important;
}
.row{
	margin: 1rem;
}
.mat-horizontal-content-container {
    overflow: hidden;
    padding: 0px !important;
}

input {
	// background-color: #e7ebf5;
}

.uploadDiv {
    height: calc(100vh - 326px);
    background-color: #e7ebf5;
    border-radius: 10px;
   width: 100%;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
  }

  .mat-stepper-vertical, .mat-stepper-horizontal {
    display: block;
    font-family: inherit;
}

::ng-deep .form-control:focus, .page-link:focus {
    box-shadow: none;
    outline: none !important
}
label{
	font-weight: 500 !important;
}
.icon {
	font-size: 30px;
	color: white;
}
::ng-deep .mat-horizontal-content-container {
    overflow: hidden;
     padding: 0px !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
    padding: 0px;
}
.primary {
	color: white;
	background-color: #0f88cd;
	border-color:#0f88cd ;
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 14px !important; 
}

::ng-deep .accordion > .card > .card-header {
	display: none !important;
}

::ng-deep .accordion > .card  {
	border: none !important;
	padding: 0 !important;
}

.kaForm{
	display: block;width: 850px;padding: 2rem;
}

::ng-deep .modal-body {
	padding: 0 !important;
}

.confirm{
	max-height: calc(-326px + 100vh) !important;
	height: calc(-326px + 100vh) !important;
	justify-content: center;
	align-items: center;
	display: flex;
}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    align-items: flex-start;	
    pointer-events: none;
}