.loginbtn {
    // margin-top: 1rem;
    width: 245px;
    height: 55px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 19%) 0px 5px 15px;
    border-color: white;
  }
  
 .googleimg {
     height: 40px;
 }