<!-- <ds-themed-home-news></ds-themed-home-news> -->
<div class="rectangle1" style="color: white;">
  <h1 class="hero" style="margin-top: 28rem">Hero Wisdom Sphere</h1>
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <!-- <ds-themed-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form> -->
  <!-- <ds-themed-top-level-community-list></ds-themed-top-level-community-list> -->

  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
    <div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="form-group input-group">
            <input type="text" [(ngModel)]="query" name="query" class="form-control searchBox"
              attr.aria-label="{{ searchPlaceholder }}" [attr.data-test]="'search-box' | dsBrowserOnly"
              [placeholder]="searchPlaceholder">        
          </div>
        </div>
        <div class="col-3"></div>
      </div>
      
      <!-- <span class="input-group-append">

        <button type="submit" class="search-button btn btn-{{brandColor}}"
          [attr.data-test]="'search-button' | dsBrowserOnly"> {{ ('search.form.search' |
          translate) }}</button>
      </span> -->
      <div class="row mt-2">
        <div class="col-md-4"></div>
        <div class="col-md-2">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle createNew" type="button" data-toggle="dropdown"
              aria-expanded="false">
              Create New
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="uploadtype('single')" data-toggle="modal"
                data-target="#exampleModal">Single Upload</a>
              <a class="dropdown-item" (click)="uploadtype('bulk')">Bulk Upload</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-2">
          <button class="search-button"> Search</button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </form>
  

  <ds-recent-item-list ></ds-recent-item-list>
  <ds-hws-footer></ds-hws-footer>
</div>
