:host {
    overflow: auto !important;
    color: black !important ;
      // background: url(../../assets/images/wallpaperflare.com_wallpaper.jpg) no-repeat 50% 50%;
  }
  
  
  input.freetext_search_input {
    height: 42px;
    padding: 20px;
    border-radius: 21px;
    /* border: 0; */
    width: calc(100% - 350px);
    margin-right: 15px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: .5px;
    font-weight: 300;
    background-color: #fff;
    font-family: inherit;
  }
  
  input.freetext_search_input:focus {
  outline: none;
  outline-offset: none;
  }




  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .dropdown-item {
      padding: 0.5rem
  }

    
  .createNew {
    width: 136px;
    height: 41px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #0d80c1;
    color: white;
  }
  .search-button{
    background-color: red;
    color: white;
    border-radius: 10px;
    border-color: red;
    width: 136px;
    height: 41px;
    font-weight: 500;
  }
  .hero {
    // margin-bottom: 9vh;
    text-align: center;
    display: inline-table;
    // font-size: 36px;
    justify-content: center;
  //   width: 50vw !important;
    margin-top: 8vh !important;
    color: #fff;
  }
  .card {
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    margin: 1rem;
  }
  .cancel {
    border-radius: 10px;
    border-color: gray;
    width: 100px;
  }
  
  .next {
    background-color: red;
    border-color: red;
    width: 100px;
    color: white;
    border-radius: 10px;
  }
  
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .dropdown-item {
      padding: 0.5rem
  }

  .searchBox {
    border-radius: 30px;
    padding: 1rem;
}
.btn-primary:active {
  background-color: #0097fd;
}

.btn-primary {
  background-color: #1091da;
}

.dropdown-menu {
  min-width: 136px;
  text-align: center;
  border-radius: 10px;
}

.dropdown-menu:active {
  background-color: whitesmoke;
}

.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2b95d1;
  border-color: #1091da;
}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
}

::ng-deep .modal-mysize .modal-dialog {
  max-width: 1000px;
  border-radius: 10px;
}