
<div class="rectangle1" style="justify-content: normal !important">
    <!-- <button class="loginbtn" (click)="signInWithGoogle()">Signin with google</button> -->
    <div class="row" style="margin-top: 6rem;">
        <div class="col-3">
            <button class="loginbtn" (click)="signInWithGoogle()">
                <img class="googleimg" src="../../assets/images/google.png"> &nbsp;&nbsp;&nbsp;
                <span>Sign in with google</span>
            </button>
        </div>
        <div class="col-7"><h1>Hero Wisdom Sphere</h1></div>
        <div class="col-2"></div>
    </div>
</div>